.DiaryEditior {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.DiaryEditior input, textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.DiaryEditior textarea {
  height: 150px;
}

.DiaryEditior select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.DiaryEditior button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}